
<html>
<body>

    <div class="container-fluid">
        <div class="contenedor-cuestionario-pagina-principal">
            <h1>¿Quiénes somos? </h1>
            <hr />

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img src="~/imagenes/planetario-bsas.jpg" class="img-fluid" style="width:110%"alt="">
                    </div>
                    <div class="col-3">

                        <p class="card-text" style="margin-top:40px">
                            Planetario DAJAM es una institución sin fines de lucro, creada
                            para la administración, gestión y desarrollo de la Universidad de Costa Rica.
                        </p>
                        <p class="card-text">
                            Fundada en el 2021, tiene un cuerpo compuesto por estudiantes universitarios
                            de distintas áreas, profesores y catedráticos de la Universidad de Costa Rica.
                        </p>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 15px">
                        <div class="card-body">
                            <img src="~/imagenes/descripcion.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                            <h5 class="card-title">¿Qué hacemos?</h5>
                            <p class="card-text">
                                Planetario DAJAM realiza diversas actividades de difusión cultural y divulgación científica.
                                En primer lugar, la creación, producción y presentación de espectáculos fulldome en el único espacio
                                diseñado para esto en el país; la realización de charlas y encuentros con académicos y personalidades relevantes
                                de diversas disciplinas, exposiciones, talleres interactivos, jornadas de observación astronómica, entre otras.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 15px">
                        <div class="card-body">
                            <img src="~/imagenes/mision.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                            <h5 class="card-title">Visión</h5>
                            <p class="card-text">
                                La visión de la institución es llegar a ser un modelo como centro de difusión de la astronomía,
                                las ciencias afines y la cultura en Costa Rica, bajo la convicción de que la educación no formal puede ser un importante
                                aporte en la formación de las personas de todas las edades. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 25rem; border-radius: 15px">
                        <div class="card-body">
                            <img src="~/imagenes/vision.png" class="card-img-top" alt="" style="margin-bottom:15px"></a>
                            <h5 class="card-title">Misión</h5>
                            <p class="card-text">
                                La misión de Planetario DAJAM es contribuir al despertar del pensamiento crítico en audiencias de todas
                                las edades desde la vivencia de experiencias sorprendentes en el único domo audiovisual del país.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
