<html>
<body>
    <div class="container-fluid">
        <div class="contenedor-cuestionario-pagina-principal">
            <h1>Cuestionarios para medir tu conocimiento</h1>
            <hr />
            <div class="container-fluid">
                <div class="row fila-imagenes">
                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                            <div class="card-body">
                                <a href=@Url.Action("Cuestionario",new { dificultad = "Principiante"})><img src="~/imagenes/principiante.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Cuestionario",new { dificultad = "Principiante"}) style="text-decoration:none">Principiante</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                            <div class="card-body">
                                <a href=@Url.Action("Cuestionario",new { dificultad = "Intermedio"})><img src="~/imagenes/intermedio.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Cuestionario",new { dificultad = "Intermedio"}) style="text-decoration:none">Intermedio</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px">
                            <div class="card-body">
                                <a href=@Url.Action("Cuestionario",new { dificultad = "Avanzado"})><img src="~/imagenes/avanzado.png" class="img-fluid imagen-cuestionario" alt=""></a>
                                <p class="texto-card"><a href=@Url.Action("Cuestionario",new { dificultad = "Avanzado"}) style="text-decoration:none">Avanzado</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
