<div class="container" style="margin-top:20px">
    <h1>@ViewBag.NombreJuego</h1>
    <hr />
    <div class="card">
        <div class="card-body contenedor-juego">
            <iframe class="juego" id="frame-juego" frameborder="0" allowfullscreen="" src="@ViewBag.LinkJuego"></iframe>
        </div>
    </div>
</div>