<html>

<body>
    <div class="container-fluid">
        <div class="contenedor-cuestionario-pagina-principal">
            <h1>Aprende jugando</h1>
            <hr />
            <h3>Selecciona un juego:</h3>
            <div class="container-fluid">
                <div class="row fila-imagenes">
                    @foreach(var juego in ViewBag.ListaJuegos) {
                        <div class="col-lg-4">
                            <div class="card card-inicio text-center border-light mb-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 35rem; border-radius: 15px; min-height:auto">
                                <div class="card-body">
                                    <a href=@Url.Action("Juego",new { nombre = juego.Nombre, linkAlJuego = juego.Link})><img src="~/Juegos/imagenes/@juego.DireccionImagen" class="img-fluid imagen-cuestionario" alt=""></a>
                                    <p class="texto-card"><a href=@Url.Action("Juego",new { nombre = juego.Nombre, linkAlJuego = juego.Link}) style="text-decoration:none">@juego.Nombre</a></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>

