<body>
    <div class="container">
        <h1 id="titulo-principal">Compra realizada con éxito</h1>
        <div class="card rounded-3">
            <div class="card-body">
                @ViewBag.ResumenCompra.GenerarResumen()
                @if (ViewBag.ResumenCompra.CuponAplicado)
                {
                    <div id="espacios-descuentos">
                        <hr />
                        <div class="row">
                            <h6>Descuentos</h6>
                        </div>
                        <div class="row">
                            <div class="col" id="nombre-cupon">Cupón</div>
                            <div class="col"></div>
                            <div class="col" id="descuento-aplicado">₡@ViewBag.ResumenCompra.Descuento</div>
                        </div>
                    </div>
                }
                <hr />
                <div class="row h2">
                    <div class="col">
                        Precio final+IVA:
                    </div>
                    <div class="col">
                    </div>
                    <div class="col" id="precio-total">
                        ₡@ViewBag.ResumenCompra.PrecioTotal
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" style="border-radius:5px;" data-bs-toggle="modal" data-bs-target="#modal-preguntas">
                    Volver al inicio
                </button>

                <div class="modal fade" id="modal-preguntas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 28%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Le gustaría calificar su experiencia?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align:center; align-content:center">
                                <a class="btn btn-primary" style="margin-top:0px; border-radius:5px; width:100px" onclick="location.href='@Url.Action("CuestionarioSatisfaccionCompra", "PreguntaSatisfaccion", new { identificacionVisitante = @ViewBag.Identificacion, tipoActividad = "Compra productos"})'">Si</a>
                                <a class="btn btn-danger" style="border-radius: 5px; width: 100px" onclick="location.href='@Url.Action("Index", "Home")'">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
