
<div class="container-fluid" style="margin-top:30px;">
    <div class="row">
        <div class="col-8" style="margin-right: 50px;">
            <div class="row">
                <div class="col">
                    <h2>Carrito de compras</h2>
                </div>
                <div class="col">
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Descripción</p>
                </div>
                <div class="col-2">
                    <p style="float:right">Cantidad</p>
                </div>
                <div class="col-2">
                    <p style="float:right">Precio</p>
                </div>
                <div class="col-2">
                    <p style="float:right">Total</p>
                </div>
            </div>
            @foreach (var elementoCarrito in ViewBag.Carrito.ObtenerCarritoConModelos()) {
                var producto = elementoCarrito.Key;
                var cantidad = elementoCarrito.Value;
                var totalProducto = producto.Precio * cantidad;
                string srcImagen = "/imagenes/productos/" + producto.NombreFoto;
        <div class="row">

            <div class="col-6">

                <div class="card card bg-secondary mb-3 rounded" style="border-radius: 15px; padding:0; height: auto; width:100%">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src=@srcImagen class="imagen-carrito card-img-top"/>
                            </div>
                            <div class="col-6" style="margin-top:5vh;">
                                <h5 class="card-title">@producto.Nombre</h5>
                                <a class="badge rounded-pill bg-danger" href=@Url.Action("EliminarProducto","Carrito",new {idItem = producto.IdentificadorProducto })>Remover</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p style="float:right">@cantidad</p>
            </div>
            <div class="col-2">
                <p style="float:right">₡@producto.Precio</p>
            </div>

            <div class="col-2">
                <p style="float:right">₡@totalProducto</p>


</div>


</div>
            }
        </div>
        <div class="col">
            <h2>Resumen de compra</h2>
            <hr style="margin-top:0"/>
            <div class="container" style="padding: 0">
                <div class="card card bg-secondary mb-3 rounded" style="border-radius: 15px; padding:0">
                    <div class="card-body">
                        <h5 class="card-title">Subtotal de la orden</h5>
                        <p>₡@ViewBag.Carrito.CalcularSubtotal()</p>
                        <button class="btn btn-primary dropdown-toggle boton-actividades" style="float: right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Proceder a pago
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark bg-black">

                            <li><a class="dropdown-item active botones-paginacion page-link" href="@Url.Action("InscribirVisitanteNuevoTienda","Visitante")" style="border-radius:5px">Visitante nuevo</a></li>
                            <li><a class="dropdown-item active botones-paginacion page-link" href="@Url.Action("VerificarVisitanteInscritoTienda","Visitante")" style="border-radius:5px">Visitante recurrente</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <a class="btn btn-primary" style="border-radius:5px;"  href=@Url.Action("Catalogo","Producto")>Continuar comprando</a>
        <br />
        <a style="float:left; margin-top:15px" href="#top">Volver arriba</a>
    </div>
</div>
